#toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    font-size: 20px;
}

.toast {
    background: #333;
    color: white;
    padding: 12px 24px;
    min-height: 30px;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: opacity 0.3s, transform 0.3s;
    animation: slideIn 0.3s ease-out;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.toast.hide {
    opacity: 0;
    transform: translateX(100px);
}

.toast.success {
    background-color: #4CAF50;
    color: white;
}

/* Warna jika error */
.toast.error {
    background-color: #f44336;
    color: white;
}

@keyframes slideIn {
    from { transform: translateX(100px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}